<html>
<head>
<script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
</head>
<body>
<h1>Busca</h1>
<form method="GET" action="/municipio">
<label>Filtrar: <input type="text" name="filtro"></label><a id="dica" href="#">?</a>
<input type="submit">
</form>
<content>
    <table>
        <thead>
            <tr>
                <th>Cod. IBGE</th>
                <th>Nome</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</content>
<nav>
    <ul>
        <li><a id="nav_anterior" href="#">Anterior</a></li>
        <li><a id="nav_proximo" href="#">Próximo</a></li>
    </ul>
</nav>
<input type="text" id="pagina_atual" value="1" />
</body>
<script type="text/javascript" src="../static/js/app.js"></script>
</html>